$btn-color: #A7D6E3;
$voice-btn-color: #EBE8E8;
$card-color: #FAF7F3;
$dark-card-color: rgb(78, 78, 78);
$control-color: rgba(255, 123, 123, 0.76);
$control-hover-color: rgba(255, 123, 123, 0.9);